@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #111827;
    --secondary-bg-color: #020617;
    --primary-color: #EAB308;
    --secondary-color: #F3F4F6;
    --third-color: #9CA3AF;
    --fourth-color: #1F2937;
    --primary-font: "Lexend Deca", serif;
    --secondary-font: "Arvo", serif;
}

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font), serif;
}

#nav-bar {
    display: flex;
    background-color: var(--secondary-bg-color);
    height: 150px;
    width: 100vw;
    align-items: center;
}

#nav-bar img {
    width: 200px;
    margin-left: 100px;
}

.burger {
    display: flex;
    width: 5rem;
    height: 5rem;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    left: 50%;
}

.burger span {
    width: 100%;
    height: 0.3rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active > span {
    background-color: var(--primary-color);
}

.burger.active > span:nth-child(1) {
    transform: translateY(1rem) rotate(-44deg);
    width: 100%;
}

.burger.active > span:nth-child(2) {
    transform: translateY(-1.5rem) rotate(44deg);
    width: 100%;
}

.burger.active > span:nth-child(3) {
    display: none;
}

.burger span:nth-child(2) {
    width: 80%;
}

.burger span:nth-child(3) {
    width: 60%;
}

#menu {
    display: none;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: var(--secondary-bg-color);
    border-radius: 50px 0 0 50px;
}

#nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#nav-bar ul li {
    display: flex;
    margin: 70px 70px;
}

#nav-bar ul li a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 40px;
}

#nav-bar ul li a:hover {
    color: var(--secondary-color);
}

.contact_us_home a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* HOME [DIV-SECTION] */

#home {
    display: flex;
    width: 100vw;
    height: 1500px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-color);
}

#img_photo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#img_photo img {
    width: 550px;
    height: 550px;
    border-radius: 5%;
    margin-top: 25%;
}

#home #about {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 15%;
}

#home #about * {
    margin: 20px 0;
}

.contact_us_home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

#home #about h4 {
    color: var(--primary-color);
    font-size: 35px;
}

#home #about h1 {
    color: var(--secondary-color);
    font-size: 60px;
}

#home #about p {
    color: var(--third-color);
    font-size: 30px;
}



/* ABOUTME [DIV-SECTION] */

#aboutme {
    display: flex;
    width: 100vw;
    height: 1500px;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    align-items: center;
}

#aboutme #img {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

#image_border img {
    position: relative;
    border-radius: 5%;
    transform:  scaleX(-1);
    width: 550px;
    height: 550px;
    left: 25px;
    bottom: 50px;
}

#aboutme #img #image_border {
    display: flex;
    border: 20px solid var(--primary-color);
    border-radius: 5%;
    width: 550px;
    height: 550px;
}

#aboutme #description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#aboutme #description * {
    margin: 25px 100px;
}

#aboutme #description h1 {
    color: var(--secondary-color);
    font-size: 60px;
}

#aboutme #description h1 span {
    margin: 0;
}

#aboutme #description p {
    color: var(--third-color);
    font-size: 30px;
}

#aboutme #description button a {
    margin: 0;
}


/* SERVICE [DIV SECTION] */

#service {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 2000px;
    background-color: var(--primary-bg-color);
}

#service #service_title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 200px;
    justify-content: end;
    align-items: center;
}

#service #service_title h1 {
    position: relative;
    color: var(--secondary-color);
    font-size: 60px;
}

#service #service_section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.service_item {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    height: 488px;
    width: 550px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.service_item * {
    margin: 25px 0;
}

.service_item i {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 60px;
    color: var(--primary-color);
    margin-top: 40px;
}

.service_item h3 {
    color: var(--secondary-color);
    font-size: 40px;
    text-align: center;
}

.service_item p {
    color: var(--third-color);
    font-size: 30px;
    text-align: center;
}

/* EXPERIENCE [DIV SECTION] */

#experiences {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1500px;
    background-color: var(--secondary-bg-color);
}

#experiences #experiences_title {
    display: flex;
    width: 100vw;
    height: 400px;
    align-items: center;
}

#experiences #experiences_title h1 {
    position: relative;
    left: 200px;
    top: 50px;
    font-family: var(--secondary-font), serif;
    color: var(--secondary-color);
    font-size: 60px;
}

#experiences #experiences_section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 308px;

}

.experience h5 {
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 30px;
}

.experience h1 {
    color: var(--primary-color);
    font-size: 40px;
}

.experience h6 {
    color: var(--secondary-color);
    font-size: 30px;
}

.experience p {
    color: var(--third-color);
    font-size: 30px;
    margin-left: 10px;
}

/* CONTACT [DIV SECTION] */

#contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1500px;
    background-color: var(--primary-bg-color);
}

#contact #contact_title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#contact #contact_title h1 {
    font-family: var(--primary-font), serif;
    color: var(--secondary-color);
    font-size: 67px;
}

#contact #contact_section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.contact_method {
    display: flex;
    width: 450px;
    height: 450px;
    border-radius: 10px;
}

.contact_method a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--primary-color);
    border-radius: 20px;
    text-decoration: none;
    color: var(--primary-color);
}

.contact_method a:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.contact_method i {
    display: flex;
    font-size: 150px;
}

/* FOOTER [DIV SECTION] */

#footer {
    display: flex;
    width: 100vw;
    height: 250px;
    background-color: var(--secondary-bg-color);
    align-items: center;
    justify-content: center;
}

#footer_items a{
    color: var(--fourth-color);
    font-size: 60px;
    margin: 20px;
}

@media only screen and (min-width: 1300px) {
    #nav-bar {
        height: 62px;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
    }

    .burger {
        display: none;
    }

    #menu {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 100%;
        right: 0;
        top: 0;
        background-color: var(--secondary-bg-color);
    }

    #nav-bar img {
        width: 100px;
    }

    #nav-bar ul {
        flex-direction: row;
        align-items: center;
    }

    #nav-bar ul li {
        display: flex;
        justify-content: space-evenly;
        margin: 0 30px;
    }

    #nav-bar ul li a {
        font-size: 20px;
    }

    /* HOME */
    #home {
        width: 50%;
        height: 619px;
        flex-direction: column;
    }

    #img_photo {
        display: flex;
        width: 50%;
        height: 634px;
        position: absolute;
        right: 0;
    }

    #img_photo img {
        width: 427px;
        height: 427px;
        border-radius: 5%;
        margin-top: 0;
    }

    #home #about {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        margin-left: 500px;
        margin-top: 0;
    }

    #home #about * {
        margin: 10px 0;
    }

    #home #about h4 {
        color: var(--primary-color);
        font-size: 16px;
    }

    #home #about h1 {
        color: var(--secondary-color);
        font-size: 42px;
    }

    #home #about p {
        color: var(--third-color);
        font-size: 16px;
    }

    .contact_us_home {
        width: 123px;
        height: 43px;
        border-radius: 5px;
        font-size: 16px;
    }

    /* ABOUT ME */
    #aboutme {
        height: 704px;
        flex-direction: row;
    }

    #aboutme #img {
        width: 50%;
        height: 100%;
        margin-top: 0;
    }

    #image_border img {
        width: 427px;
        height: 427px;
        left: 25px;
        bottom: 50px;
    }

    #aboutme #img #image_border {
        border-radius: 5%;
        width: 427px;
        height: 427px;
    }

    #aboutme #description {
        width: 50%;
        height: 100%;
    }

    #aboutme #description h1 {
        font-size: 42px;
    }

    #aboutme #description p {
        font-size: 20px;
        width: 65%;
    }

    #aboutme #description * {
        margin: 25px 0;
    }

    /* SERVICE */

    #service {
        flex-direction: column;
        width: 100vw;
        height: 704px;
    }

    #service #service_title {
        width: 100vw;
        height: 200px;
        justify-content: end;
        align-items: center;
    }

    #service #service_title h1 {
        font-size: 42px;
    }

    #service #service_section {
        flex-direction: row;
        width: 100vw;
        height: 504px;
        justify-content: space-evenly;
        align-items: center;
    }

    .service_item {
        flex-direction: column;
        height: 288px;
        width: 350px;
        border-radius: 10px;
        align-items: center;
    }

    .service_item * {
        margin: 15px 0;
    }

    .service_item i {
        width: 100%;
        justify-content: center;
        font-size: 40px;
        margin-top: 40px;
    }

    .service_item h3 {
        font-size: 26px;
        text-align: center;
    }

    .service_item p {
        font-size: 16px;
        text-align: center;
    }

    /* EXPERIENCES */

    #experiences {
        flex-direction: column;
        width: 100vw;
        height: 536px;
    }

    #experiences #experiences_title {
        width: 100vw;
        height: 200px;
        align-items: center;
    }

    #experiences #experiences_title h1 {
        position: relative;
        left: 200px;
        top: 50px;
        font-size: 42px;
    }

    #experiences #experiences_section {
        flex-direction: row;
        width: 100vw;
        height: 336px;
        justify-content: space-evenly;
        align-items: center;
    }

    .experience {
        flex-direction: column;
        justify-content: space-evenly;
        width: 302px;
        height: 158px;
    }

    .experience h5 {
        font-weight: 300;
        font-size: 20px;
    }

    .experience h1 {
        font-size: 26px;
    }

    .experience h6 {
        font-size: 16px;
    }

    .experience p {
        font-size: 16px;
        margin-left: 10px;
    }

    /* CONTACT */

    #contact {
        flex-direction: column;
        width: 100vw;
        height: 664px;
    }

    #contact #contact_title {
        flex-direction: column;
        width: 100vw;
        height: 200px;
        align-items: center;
        justify-content: end;
    }

    #contact #contact_title h1 {
        font-size: 42px;
    }

    #contact #contact_section {
        flex-direction: row;
        width: 100vw;
        height: 464px;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact_method {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .contact_method a {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 5px solid var(--primary-color);
    }

    .contact_method i {
        font-size: 100px;
    }

    /* FOOTER */

    #footer {
        width: 100vw;
        height: 136px;
        align-items: center;
        justify-content: center;
    }

    #footer_items a{
        font-size: 30px;
        margin: 5px;
    }
}