@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

@theme {
    --color-primary-bg: #111827;
    --color-secondary-bg: #020617;
    --color-primary: #EAB308;
    --color-secondary: #F3F4F6;
    --color-third: #9CA3AF;
    --color-fourth: #1F2937;
    --primary-font: "Lexend Deca", serif;
    --secondary-font: "Arvo", serif;
}

html {
    @apply scroll-smooth;
}


body {
    @apply flex bg-primary-bg;
    font-family: var(--primary-font), serif;
}

#nav-bar {
    @apply flex bg-secondary-bg h-28 w-screen items-center justify-between;
}

#nav-bar img {
    @apply w-35;
}


#nav-bar a {
    @apply ml-10;
}

.burger {
    @apply relative flex w-15 h-15 right-5 flex-col justify-around bg-transparent border-none items-end cursor-pointer transition-all duration-300 ease-in-out;
}

.burger span {
    @apply w-full h-[0.3rem] bg-primary rounded-lg transition-all duration-300 ease-in-out;
}

.burger.active {
    @apply z-10;
}

.burger.active > span {
    @apply bg-primary;
}

.burger.active > span:nth-child(1) {
    @apply translate-y-2 rotate-[-44deg] w-full;
}

.burger.active > span:nth-child(2) {
    @apply -translate-y-6 rotate-44 w-full;
}

.burger.active > span:nth-child(3) {
    @apply hidden;
}

.burger span:nth-child(2) {
    @apply w-4/5;
}

.burger span:nth-child(3) {
    @apply w-3/5;
}

.menu {
    @apply hidden h-150 absolute right-0 top-40 bg-secondary-bg rounded-[50px_0_0_50px];
}

.menu.open {
    @apply flex;
}

#nav-bar ul {
    @apply flex flex-col items-center list-none justify-between p-10;
}

#nav-bar ul li {
    @apply flex;
}

#nav-bar ul li a {
    @apply no-underline text-third text-[25px] m-0;
}

#nav-bar ul li a:hover {
    @apply text-secondary;
}

/* HOME [DIV-SECTION] */

#home {
    @apply flex w-screen flex-col items-center bg-primary-bg;
}

#img_photo {
    @apply flex w-full items-center justify-center h-full py-10;
}

#img_photo img {
    @apply w-90 h-90 rounded-[5%];
}

#home #about {
    @apply flex flex-col h-full justify-between gap-y-6 px-6 py-10;
}

.contact_us_home {
    @apply flex justify-center items-center w-46 h-14 text-[18px] rounded-[5px] bg-primary font-bold cursor-pointer;
}

#home #about h4 {
    @apply text-primary text-[26px];
}

#home #about h1 {
    @apply text-secondary text-[40px];
}

#home #about p {
    @apply text-third text-[20px];
}

.contact_us_home a {
    @apply flex no-underline text-black w-full h-full justify-center items-center;
}

/* ABOUTME [DIV-SECTION] */

#aboutme {
    @apply flex w-screen bg-secondary-bg flex-col items-center p-10;
}

#aboutme #img {
    @apply flex items-center justify-center mt-[15%] p-10 relative w-full aspect-square;
}

#img img {
    @apply rounded-2xl -scale-x-100 aspect-square absolute w-[80%] -translate-y-6 translate-x-6;
}

#aboutme #img #image_border {
    @apply flex border-20 border-primary rounded-2xl aspect-square absolute w-[80%];
}

#aboutme #description {
    @apply flex flex-col justify-center gap-10;
}

#aboutme #description h1 {
    @apply text-secondary text-[46px];
}

#aboutme #description h1 span {
    @apply m-0;
}

#aboutme #description p {
    @apply text-third text-[20px];
}

#aboutme #description button a {
    @apply m-0;
}


/* SERVICE [DIV SECTION] */

#service {
    @apply flex flex-col w-screen bg-primary-bg py-10;
}

#service #service_title {
    @apply flex flex-col w-screen  justify-end items-center py-10;
}

#service #service_title h1 {
    @apply relative text-secondary text-[46px];
}

#service #service_section {
    @apply flex flex-col w-screen h-full justify-evenly items-center gap-10;
}

.service_item {
    @apply flex flex-col bg-secondary-bg rounded-[20px] items-center justify-center gap-3 p-5 max-w-95;
}


.service_item i {
    @apply flex w-full justify-center text-[46px] text-primary mt-10;
}

.service_item h3 {
    @apply text-secondary text-[30px] text-center;
}

.service_item p {
    @apply text-third text-[20px] text-center;
}

/* EXPERIENCE [DIV SECTION] */

#experiences {
    @apply flex flex-col w-screen bg-secondary-bg py-10;
}

#experiences #experiences_title {
    @apply flex w-screen items-center justify-center;
}

#experiences #experiences_title h1 {
    @apply flex relative text-secondary justify-center items-center h-40 text-[46px];
    font-family: var(--secondary-font), serif;
}

#experiences #experiences_section {
    @apply flex flex-col w-screen justify-evenly items-center gap-10;
}

.experience {
    @apply flex flex-col justify-evenly max-w-75;

}

.experience h5 {
    @apply text-secondary font-light text-[20px];
}

.experience h1 {
    @apply text-primary text-[30px];
}

.experience h6 {
    @apply text-secondary text-[20px];
}

.experience p {
    @apply text-third text-[20px] ml-2.5;
}

/* CONTACT [DIV SECTION] */

#contact {
    @apply flex flex-col w-screen bg-primary-bg py-10;
}

#contact #contact_title {
    @apply flex flex-col w-screen items-center justify-center;
}

#contact #contact_title h1 {
    @apply text-secondary text-[42px] p-14 justify-center items-center;
    font-family: var(--primary-font), serif;
}

#contact #contact_section {
    @apply flex flex-col w-screen justify-evenly items-center gap-20;
}

.contact_method {
    @apply flex w-80 h-80 rounded-[10px];
}

.contact_method a {
    @apply flex w-full h-full justify-center items-center border-10 border-primary rounded-[20px] no-underline text-primary;
}

.contact_method a:hover {
    @apply border-secondary text-secondary;
}

.contact_method i {
    @apply flex text-[150px];
}

/* FOOTER [DIV SECTION] */

#footer {
    @apply flex w-screen bg-secondary-bg justify-center items-center p-10;
}

#footer_items {
    @apply flex gap-5;
}

#footer_items a{
    @apply text-third text-[36px];
}


@media only screen and (min-width: 1300px) {
    #nav-bar {
        @apply h-15.5 w-screen items-center justify-around;
    }


    .burger {
        @apply hidden;
    }

    .menu {
        @apply flex relative flex-row h-full right-0 top-0 bg-secondary-bg;
    }


    #nav-bar a {
        @apply ml-0;
    }

    #nav-bar img {
        @apply w-25;
    }

    #nav-bar ul {
        @apply flex-row items-center p-0;
    }

    #nav-bar ul li {
        @apply flex justify-evenly m-[0_30px];
    }

    #nav-bar ul li a {
        @apply text-[20px];
    }

    /* HOME */
    #home {
        @apply h-154.75 flex-row;
    }

    #img_photo {
        @apply flex w-1/2 h-158.5 absolute right-0;
    }

    #img_photo img {
        @apply w-106.75 h-106.75 rounded-[5%] mt-0;
    }

    #home #about {
        @apply flex h-full w-1/2 justify-center ml-50 mt-0 gap-y-0;
    }

    #home #about * {
        @apply m-[10px_0];
    }

    #home #about h4 {
        @apply text-primary text-[16px];
    }

    #home #about h1 {
        @apply text-secondary text-[42px];
    }

    #home #about p {
        @apply text-third text-[16px];
    }

    .contact_us_home {
        @apply w-30.75 h-10.75 rounded-[5px] text-[16px];
    }

    /* ABOUT ME */
    #aboutme {
        @apply h-176 flex-row;
    }

    #aboutme #img {
        @apply flex items-center justify-center mt-0 p-10 relative w-full aspect-square;
    }

    #img img {
        @apply rounded-2xl -scale-x-100 aspect-square absolute w-[50%];
    }

    #aboutme #img #image_border {
        @apply flex border-20 border-primary rounded-2xl aspect-square absolute w-[50%];
    }

    #aboutme #description {
        @apply w-full h-full;
    }

    #aboutme #description h1 {
        @apply text-[42px];
    }

    #aboutme #description p {
        @apply text-[20px] w-[65%];
    }

    /* SERVICE */

    #service {
        @apply flex-col w-screen h-176;
    }

    #service #service_title {
        @apply w-screen h-50 justify-end items-center;
    }

    #service #service_title h1 {
        @apply text-[42px];
    }

    #service #service_section {
        @apply flex-row w-screen h-126 justify-evenly items-center;
    }

    .service_item {
        @apply flex-col h-72 w-87.5 rounded-[10px] items-center justify-center;
    }

    .service_item * {
        @apply m-0;
    }

    .service_item i {
        @apply w-full justify-center text-[40px] mt-0;
    }

    .service_item h3 {
        @apply text-[26px] text-center;
    }

    .service_item p {
        @apply text-[16px] text-center;
    }

    /* EXPERIENCES */

    #experiences {
        @apply flex-col w-screen h-134;
    }

    #experiences #experiences_title {
        @apply w-screen h-50 items-start justify-start;
    }

    #experiences #experiences_title h1 {
        @apply relative left-50 top-12.5 text-[42px];
    }

    #experiences #experiences_section {
        @apply flex-row w-screen h-84 justify-evenly items-center;
    }

    .experience {
        @apply flex-col justify-evenly w-75.5 h-39.5;
    }

    .experience h5 {
        @apply text-[20px] font-light;
    }

    .experience h1 {
        @apply text-[26px];
    }

    .experience h6 {
        @apply text-[16px];
    }

    .experience p {
        @apply text-[16px] ml-2.5;
    }

    /* CONTACT */

    #contact {
        @apply flex-col w-screen;
    }

    #contact #contact_title {
        @apply flex-col w-screen h-50 items-center justify-end;
    }

    #contact #contact_title h1 {
        @apply text-[42px];
    }

    #contact #contact_section {
        @apply flex-row w-screen h-116 justify-evenly items-center;
    }

    .contact_method {
        @apply w-75 h-75 rounded-[10px];
    }

    .contact_method a {
        @apply w-full h-full justify-center items-center rounded-[10px] border-[5px] border-primary;
    }

    .contact_method i {
        @apply text-[100px];
    }

    /* FOOTER */

    #footer {
        @apply w-screen h-34 items-center justify-center;
    }

    #footer_items a{
        @apply text-[30px] m-1.25;
    }
}

@media only screen and (min-width: 1600px) {
    #home #about {
        @apply ml-100;
    }
}